<!-- <form id="form44" name="form44" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
      action="https://atlantabg.wufoo.com/forms/rdohpcq0i4a6cu/#public">
  
<ul>
<li id="foli1" class="notranslate      ">
<label class="desc" id="title1" for="Field1">
Email
</label>
<div>
<input id="Field1" name="Field1" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="1"       placeholder="Enter email address" required />
</div>
</li> <li class="buttons ">
<div>

                    <input id="saveForm" name="saveForm" class="btTxt submit"
    type="submit" value=""
 />    
</div>
</li>

<li class="hide">
<label for="comment">Do Not Fill This Out</label>
<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
<input type="hidden" id="idstamp" name="idstamp" value="ga2FkCig6AQMt3vJWO5eAEIuiMlg9TEMdCaZB9/7vx4=" />
</li>
</ul>
</form> -->
<form class="newsletter-form">
	<ul>
		<li>
			<label class="desc" id="title1" for="Field1">
			Email
			</label>
			<div>
			<input id="Field1" name="Field1" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="1"       placeholder="Enter email address" required />
			</div>
		</li>
		<li class="buttons ">
		<div>
			<input id="saveForm" name="saveForm" class="btTxt submit"
		    type="submit" value="" >    
		</div>
		</li>
		<li class="error">
			<p class="u-textWhite">Please add your email address to join our newsletter.</p>
		</li>
	</ul>
</form>